<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AppConfigCore" type="System.Configuration.NameValueSectionHandler" />
    <section name="AppConfigParameters" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <AppConfigCore>
    <!-- Common.Framework.Core
      ApplicationName = <ApplicationName>
      IsDebugMode = false|true
      IsLogSuppressed = false|true
      RunType = DEV|PROD
      LogDirectory = ""|D:\Logs\...
      TargetDirectory = ""|%OneDrive%\Data\Static\Git\...
    -->
    <add key="ApplicationName" value="ProjectEuler" />
    <add key="IsDebugMode" value="true" />
    <add key="IsLogSuppressed" value="false" />
    <add key="LogDirectory" value="D:\Logs\ProjectEuler" />
    <add key="RunType" value="DEV" />
    <add key="TargetDirectory" value="%OneDrive%\Data\Static\Git\ProjectEuler\Output" />
  </AppConfigCore>

  <AppConfigParameters>
    <!-- ProjectEulerProblems
      Problems = All|3|13,37,...
    -->
    <add key="ProjectEulerProblems" value="
         Problems=All;
         __Problems=1;
    " />
    <add key="Problem001" value="
         Target=1000;
         Divisors=3,5;
    " />
    <add key="Problem002" value="
         Limit=4000000;
         Parity=even;
    " />
    <add key="Problem003" value="
         Number=600851475143;
    " />
    <add key="Problem004" value="
         Digits=3;
    " />
    <add key="Problem005" value="
         Limit=20;
    " />
    <add key="Problem006" value="
         Limit=100;
    " />
    <add key="Problem007" value="
         Index=10001;
    " />
    <add key="Problem008" value="
         Digits=13;
         Source=.\Source\008.dat;
    " />
    <add key="Problem009" value="
         Sum=1000;
    " />
    <add key="Problem010" value="
         Limit=2000000;
    " />
    <add key="Problem011" value="
         AdjacentNumbers=4;
         Source=.\Source\011.dat;
    " />
    <add key="Problem012" value="
         Divisors=500;
         SieveGuess=75000;
    " />
    <add key="Problem013" value="
         Digits=10;
         Source=.\Source\013.dat
    "/>
    <add key="Problem014" value="
         Limit=1000000;
    " />
    <add key="Problem015" value="
         Size=20;
    " />
    <add key="Problem016" value="
         Radix=2;
         Power=1000;
         Modulo=0;
         __Radix=7;
         __Power=327;
         __Modulo=853;
    " />
    <add key="Problem017" value="
         Limit=1000;
    " />
    <add key="Problem018" value="
         __Source=.\Source\018Development.dat;
         Source=.\Source\018Production.dat;
    " />
    <add key="Problem019" value="
         StartDate=19010101;
         EndDate=20001231;
         DayOfMonth=1;
         DayOfWeek=Sunday;
    " />
    <add key="Problem020" value="
         Number=100;
    " />
    <add key="Problem021" value="
         Limit=10000;
    " />
    <add key="Problem022" value="
         Source=.\Source\022.dat;
         Name=ALL;
    " />
    <add key="Problem023" value="
         Limit=28123;
    " />
    <add key="Problem024" value="
         Digits=0,1,2,3,4,5,6,7,8,9;
         LexicographicPermutation=1000000;
    " />
    <add key="Problem025" value="
         Term=1;
         Digits=1000;
    " />
    <add key="Problem026" value="
         Limit=1000;
    " />
  </AppConfigParameters>
</configuration>